body {
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  padding: 3vw;
  background-color: #ffffff69;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.24); */
  border-radius: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  /* font-family: 'Courier New', Courier, monospace; */
  line-height: 1.5;
  font-weight: bold;
  font-size: clamp(0.5rem, 2vw, 1.2rem);
}

h2 {
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 3vw;
  font-size: clamp(1.5rem, 4vw, 3rem);
}

.topics-list {
  margin-top: 20px;
}

.topic {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  color: #0261c7;
}

.topic .description {
  margin-top: 10px;
}

.description {
  display: none;
  color: #434343;
  padding:1vw;
  padding-top: 0;
}

.sub-topic {
  display: none;
  margin-top: 10px;
  padding: 10px;
  color: #007bff;
  color: #009933;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sub-topics {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  color: #009933;
  color: #990099;
  color: #434343;
  border-radius: 5px;
}

.sub-topics span {
  display: block;
  margin: 5px 0;
  padding-left: 15px;
}
